<div class="container">
    <div class="col">
        <div class="card border-primary m-3 p-3">
            <h3 class="text-center">User Dashboard</h3>
        </div>
        <% if(data) { %>
        <% for(let i = 0; i < data.length; i++) {%>

        <div class="card text-white bg-primary mb-3">
            <div class="card-header">
                <h4 class="card-title"> <%= data[i].title %> </h4>
            </div>
            <div class="card-body">
                <p class="card-text"> <%= data[i].content %> </p>
            </div>
            <div class="card-body">
                <a href="/user/delete/<%= data[i].id %>" class="card-link text-white">Remove article</a>
            </div>
            <div class="card-footer text-muted">
                posted by <%= data[i].author %> at <%= data[i].date %>
            </div>
        </div>

        <% } %>
        <% } %>

    </div>
</div>
</div>